<events>
	<event isMeeting="true" dayName="Wednesday" month="May" day="13" year="2015" location="Panera" time="6:00 PM" minuteFileName="2015/RF Board Meeting Minutes 2015.05.13.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Wednesday" month="April" day="15" year="2015" location="Panera" time="6:00 PM" minuteFileName="2015/RF Board Meeting Minutes 2015.04.15.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="February" day="10" year="2015" location="Panera" time="5:30 PM" minuteFileName="2015/RF Board Meeting Minutes 2015.02.10.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="January" day="25" year="2015" location="Noblesville Library" time="1:30 PM" minuteFileName="2015/RF Annual Meeting Minutes 2015.01.25.pdf">Annual Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="January" day="13" year="2015" location="Panera" time="5:30 PM" minuteFileName="2015/RF Board Meeting Minutes 2015.01.13.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="November" day="11" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.11.11.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="October" day="14" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.10.14.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Wednesday" month="September" day="24" year="2014" location="TBD" time="6:00 PM" minuteFileName="2014/RF Board Joint Pool Committee Meeting Minutes.pdf">Joint Pool Meeting</event>
	<event isMeeting="true" dayName="Monday" month="September" day="15" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.08.19.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="August" day="19" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.08.19.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="July" day="15" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.07.15.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="May" day="13" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.05.13.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Monday" month="April" day="14" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.04.14.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="March" day="12" year="2014" location="Panera" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.03.12.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="February" day="11" year="2014" location="Panera" time="6:00 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.02.11.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="January" day="26" year="2014" location="Noblesville Library" time="2:00 PM" minuteFileName="2014/Annual Meeting Minutes 2014.pdf">Annual Meeting</event>
	<event isMeeting="true" dayName="Thursday" month="January" day="16" year="2014" location="Noblesville Library" time="5:30 PM" minuteFileName="2014/RF Board Meeting Minutes 2014.01.16.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="November" day="19" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.11.19.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Monday" month="October" day="7" year="2013" location="Noblesville Library" time="7:00 PM" >Board Meeting</event>
	<event isMeeting="true" dayName="Monday" month="September" day="16" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.09.16.pdf">Board Meeting</event>
    <event isMeeting="true" dayName="Monday" month="August" day="12" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.08.12.pdf">Board Meeting</event>
    <event isMeeting="true" dayName="Monday" month="June" day="10" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.06.10.pdf">Board Meeting</event>
    <event isMeeting="true" dayName="Monday" month="May" day="13" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.05.13.pdf">Board Meeting</event>
    <event isMeeting="true" dayName="Monday" month="April" day="15" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.04.15.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Monday" month="March" day="4" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.03.04.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="January" day="27" year="2013" location="Noblesville Library" time="2:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.01.27.pdf">Annual Meeting</event>
	<event isMeeting="true" dayName="Monday" month="January" day="7" year="2013" location="Noblesville Library" time="7:00 PM" minuteFileName="2013/RF Board Meeting Minutes 2013.01.07.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="December" day="9" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="November" day="18" year="2012" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.11.18.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="October" day="14" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="September" day="9" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="August" day="12" year="2012" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.08.12.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="May" day="6" year="2012" location="19229 Searay Drive" time="7:00 PM">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="April" day="1" year="2012" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.04.01.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="March" day="4" year="2012" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.03.04.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="February" day="12" year="2012" location="Noblesville Library" time="2:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.02.12.pdf">Annual Meeting</event>
	<event isMeeting="true" dayName="Thursday" month="January" day="12" year="2012" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2012/RF Board Meeting Minutes 2012.01.12.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="December" day="11" year="2011" location="19511 Colvic Court" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.12.11.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="November" day="6" year="2011" location="19511 Colvic Court" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.11.06.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Thursday" month="October" day="13" year="2011" location="19229 Searay Drive" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.10.13.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="September" day="18" year="2011" location="19511 Colvic Court" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.09.18.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="August" day="7" year="2011" location="19511 Colvic Court" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.08.07.pdf">Board Meeting</event>
	<event isMeeting="false" dayName="" month="June" day="11" year="2011" location="" time="">Community Garage Sale</event>
	<event isMeeting="false" dayName="" month="June" day="10" year="2011" location="" time="">Community Garage Sale</event>
	<event isMeeting="false" dayName="" month="May" day="28" year="2011" location="" time="">Pool Opening Day!</event>
	<event isMeeting="true" dayName="Sunday" month="May" day="15" year="2011" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.05.15.pdf">Board Meeting</event>
	<event isMeeting="false" dayName="" month="April" day="30" year="2011" location="" time="9:00 AM">Community Day</event>
	<event isMeeting="true" dayName="Sunday" month="April" day="3" year="2011" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.05.15.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="March" day="27" year="2011" location="11075 Godfrey Drive" time="3:00 PM">Block Captains Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="March" day="6" year="2011" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2011/RF Board Meeting Minutes 2011.05.15.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="February" day="6" year="2011" location="Noblesville Public Library" time="1:30 PM" minuteFileName="2011/2011 Annual Meeting Agenda.pdf">Annual Meeting &amp; Crime Watch Meeting</event>
	<event isMeeting="false" dayName="Saturday" month="January" day="15" year="2011" location="" time="">Annual Dues Deadline</event>
	<event isMeeting="true" dayName="Tuesday" month="January" day="11" year="2011" location="Noblesville Public Library" time="6:00 PM" minuteFileName="2011/Meeting Minutes_Joint Pool Mtg_011111.doc">Joint Pool Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="January" day="9" year="2011" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2011/Meeting Minutes_010911.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="November" day="9" year="2010" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2010/Meeting Minutes 2010_11_21.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Wednesday" month="October" day="6" year="2010" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2010/Meeting Minutes 2010_10_06.doc">Board Meeting</event>
	<event isMeeting="true" dayName="Wednesday" month="September" day="8" year="2010" location="Noblesville Public Library" time="7:00 PM" minuteFileName="2010/Meeting Minutes_ 2010.09.08.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Tuesday" month="September" day="7" year="2010" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2010/Pool meeting notes_090710.pdf">Joint Pool Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="August" day="1" year="2010" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2010/Meeting Minutes_080110.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Wednesday" month="July" day="14" year="2010" location="11075 Godfrey Drive" time="7:00 PM" minuteFileName="2010/Meeting Minutes_071410.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="June" day="27" year="2010" location="11075 Godfrey Drive" time="4:00 PM" minuteFileName="2010/Meeting Minutes 2010 06 27.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Monday" month="May" day="10" year="2010" location="11075 Godfrey Drive" time="" minuteFileName="2010/JOINT MEETING MINUTES 05 10 2010.pdf">Joint Pool Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="May" day="2" year="2010" location="11075 Godfrey Drive" time="4:00 PM" minuteFileName="2010/Meeting Minutes 2010 05 02.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="April" day="11" year="2010" location="11075 Godfrey Drive" time="4:00 PM" minuteFileName="2010/Meeting minutes 2010 04 11.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="March" day="14" year="2010" location="19320 Searay Drive" time="4:00 PM" minuteFileName="2010/Meeting minutes 2010 03 14.pdf">Board Meeting</event>
	<event isMeeting="true" dayName="Sunday" month="February" day="7" year="2010" location="Noblesville Public Library" time="1:30 PM" minuteFileName="2010/Meeting Minutes_020710.pdf">Board Meeting</event>
</events>