<div class="panel panel-default">
  <div class="panel-body">
    <h3>About Roudebush Farms</h3>
    <p>Roudebush Farms is located northeast of Indianapolis in the city of Noblesville, which is the county seat for Hamilton
      County.</p>

    <p>Developed by Ryland Homes, the community is comprised of 188 lots and features two playgrounds, two retention ponds and
      a shared pool facility with the neighboring Roudebush Woods community, which was also a Ryland Homes development.</p>

    <p>The community was built in two phases with the front portion of the neighborhood featuring Ryland Homes' Crestpoint Collection
      while the second phase, and back half of the neighborhood was composed of their Americana Collection.</p>

    <p>The neighborhood gets its name from the Roudebush family and Richard Lowell Roudebush, who was born and raised in the
      area, and served a term as a congressman and was later the Administrator of Veteran Affairs.</p>

    <p>There are three entrances into the neighborhood, with the primary entrance off of 191st Street, with additional entrances
      on Promise Road and 196th Street.</p>
    </p>
  </div>
</div>
<script type="text/javascript">
  RoudebushFarms.translateEmail();
  RoudebushFarms.translatePhone();
</script>