<div class="row">
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0620.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0620.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0621.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0621.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0622.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0622.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0623.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0623.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0624.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0624.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/100_0625.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/100_0625.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/050411114130.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/050411114130.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/050411114148.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/050411114148.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/050411174528.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/050411174528.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/050411174538.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/050411174538.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/052211191801.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/052211191801.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/052211191821.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/052211191821.jpg" >
		</a>
	</div>
	<div class="col-xs-6 col-md-3">
		<a class="thumbnail fancybox" href="imgs/gallery/052211191834.jpg">
			<img data-src="holder.js/100%x180" src="imgs/gallery/052211191834.jpg" >
		</a>
	</div>
</div>
<script type="text/javascript">
	$(".fancybox").fancybox();
</script>