<div class="row">
  <div class="col-md-8">
    <div class="jumbotron" id="welcome-jumbotron">
      <h1>Welcome!</h1>
      <p>Developed by Ryland Homes, the community is comprised of 188 lots and features two playgrounds, two retention ponds and a shared pool facility with the neighboring Roudebush Woods community, which is also a Ryland Homes development.</p>
      <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>2014 Budget</h2>
            <p>The 2014 budget has been made available and can be located in the Documents > Finance section of the website.</p>
            <p><a class="btn btn-primary" href="documents/legal/RF POA 2014 Budget.pdf">View budget &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>POA Dues</h2>
            <p>Kirkpatrick Management accepts online dues payments here. They also accept personal or bank check, ACH or credit/debit payments. The next dues payment will be $429.</p>
            <p><a class="btn btn-primary" href="http://www.ekirkpatrick.com/index.php?option=com_content&view=article&id=22&Itemid=157">Pay online &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>POA Board Meetings</h2>
            <p>The Roudebush Farms POA board meetings once a month to discuss outstanding issues concerning the POA.</p>
            <p><a class="btn btn-primary" href="#">View minutes &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Upcoming events</h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" style="height: 68px;border-radius: 4px; margin-bottom: 5px; padding: 0px">
            <div class="pull-left label label-primary" style="padding:10px;margin-right:10px;">
              <p style="font-size:14px;margin:0px;">Jan</p>
              <p style="font-size:32px;margin:0px;">25</p>
            </div>
            <div style="margin-top:15px;">
              <div>
                <h4 class="list-group-item-heading" style="display:inline;">Board Meeting</h4>
                <p style="display: inline;"> 1:30<span style="font-size: 10px">PM</span></p>
              </div>
              <div>
                <p class="list-group-item-text" style="display:inline;margin-right:5px;"><a href="https://goo.gl/maps/zVox4" target="_blank">Noblesville Public Library</a></p>
                <!--a href="https://goo.gl/maps/XNWsm" target="_blank">+ Google Map</a-->
              </div>
            </div>
          </div>
          <div class="list-group-item" style="height: 68px;border-radius: 4px; margin-bottom: 5px; padding: 0px">
            <div class="pull-left label label-primary" style="padding:10px;margin-right:10px;">
              <p style="font-size:14px;margin:0px;">Feb</p>
              <p style="font-size:32px;margin:0px;">10</p>
            </div>
            <div style="margin-top:15px;">
              <div>
                <h4 class="list-group-item-heading" style="display: inline;">Board Meeting</h4>
                <p style="display: inline;"> 5:30<span style="font-size: 10px;">PM</span></p>
              </div>
              <div>
                <p class="list-group-item-text" style="margin-right: 5px;display: inline;"><a href="https://goo.gl/maps/Wqe0b" target="_blank">Panera</a></p>
                <!--a href="https://goo.gl/maps/5mUk5" target="_blank">+ Google Map</a-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Recent documents</h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item">
            <span class="glyphicon glyphicon-file" style="margin-right: 5px;" aria-hidden="true"></span><a href="">Board Meeting Minutes 2015.01.13.pdf</a>
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-file" style="margin-right: 5px;" aria-hidden="true"></span><a href="">Board Meeting Minutes 2014.11.13.pdf</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>