<div class="jumbotron">
  <h1>Welcome!</h1><br />
  <p>Developed by Ryland Homes, the community is comprised of 188 lots and features two playgrounds, two retention ponds and a shared pool facility with the neighboring Roudebush Woods community, which is also a Ryland Homes development.</p>
  <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>2014 Budget</h2>
        <p>The 2014 budget has been made available and can be located in the Documents > Finance section of the website.</p>
        <p><a class="btn btn-primary" href="documents/legal/RF POA 2014 Budget.pdf">View budget &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>POA Dues</h2>
        <p>Kirkpatrick Management accepts online dues payments here. They also accept personal or bank check, ACH or credit/debit payments. The next dues payment will be $429.</p>
        <p><a class="btn btn-primary" href="http://www.ekirkpatrick.com/index.php?option=com_content&view=article&id=22&Itemid=157">Pay online &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>POA Board Meetings</h2>
        <p>The Roudebush Farms POA board meetings once a month to discuss outstanding issues concerning the POA.</p>
        <p><a class="btn btn-primary" href="#">View minutes &raquo;</a></p>
      </div>
    </div>
  </div>
</div>