<div class="jumbotron" id="welcome-jumbotron">
  <h1>Welcome!</h1>
  <p>Developed by Ryland Homes, the community is comprised of 188 lots and features two playgrounds, two retention ponds and
    a shared pool facility with the neighboring Roudebush Woods community, which is also a Ryland Homes development.</p>
  <p><a class="btn btn-primary btn-large" href="#/about">Learn more &raquo;</a></p>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>2016 Pool Season</h2>
        <p>Welcome to the 2016 pool season!</p>
        <span style="font-weight:bold;">Pool hours for the regular 2016 Season are:</span>
        <ul style="list-style-type:none">
					<li>Monday and Tuesday: 11am – 9pm</li>
					<li>Wednesday: 10am – 8pm</li>
					<li>Thursday and Friday: 11am – 9pm</li>
					<li>Saturday and Sunday: 10am – 9pm</li>
					<li>&nbsp;</li>
					<li>Memorial Day: 10am – 9pm</li>
					<li>Fourth of July: 10am – 9pm</li>
					<li>Labor Day: 10am – 9pm</li>
				</ul>
				<p>When Noblesville Schools are back in session, the pool will open at 11am on weekdays and close at 8pm Sunday through Thursday.</p>
        <p><a class="btn btn-primary" href="documents/pool/2016 Roudebush Pool Welcome Letter and Rules.pdf" target="_blank">View letter &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>2016 Budget</h2>
        <p>The 2016 budget is available! Follow the link below or find it in Documents > Finance section of the website.</p>
        <p><a class="btn btn-primary" href="documents/legal/RF POA 2016 Budget.pdf" target="_blank">View budget &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Godfrey Drive Speed Study</h2>
        <p>The Godfrey Drive speed study was completed at the request of residents and resulting documents can be found at the link below.</p>
        <p><a class="btn btn-primary" href="#/documents#misc">View study documents &raquo;</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>POA Dues</h2>
        <p>Kirkpatrick Management accepts online dues payments here. They also accept personal or bank check, ACH or credit/debit
          payments. The next dues payment will be $429.</p>
        <p><a class="btn btn-primary" href="http://www.ekirkpatrick.com/make-payment---associations.html" target="_blank">Pay online &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  RoudebushFarms.translateEmail();
  RoudebushFarms.translatePhone();
</script>