<div class="panel panel-default">
  <div class="panel-body">
    <h3>Attendance</h3>
    <p>
      All members of the neighborhood are permitted to attend the monthly board meeting.  These monthly meetings are to conduct Roudebush Farms Property Owners Association business and as such unless the attendees are on the agenda, then they are not permitted to address the board during the meeting.  Disruptions from any attendee will be cause to request the person causing the disruption to leave and the board meeting will be recessed until that person does leave.
    </p>
    <h3>Requesting to be on the agenda</h3>
    <p>
      Requests to address the board are welcomed, however the board does ask the request be received by the board at least 14 days prior to the scheduled meeting.  A request does not guarantee placement on the agenda, the requester will be notified of their placement on the agenda.  Each request is limited to one topic and will be allowed 10 minutes to address the board.  The following is required when making a request to address the board:
    </p>
    <ol>
      <li>Your name</li>
      <li>Your Property Address and/or Lot Number</li>
      <li>Brief Description of the Topic</li>
    </ol>
  </div>
</div>