<div class="panel panel-default">
	<div class="panel-body">
		<h3>2013 Roudebush Farms POA Board Members</h3>
		<ul id="members">
			<li>
				<h4>President</h4>
				<span>Emily Martin</span>
			</li>
			<li>
				<h4>Vice President</h4>
				<span>Kelly Trent</span>
			</li>
			<li>
				<h4>Treasurer/Secretary</h4>
				<span>Jeff Cook</span>
			</li>
			<li>
				<h4>Architecture Committee Chair</h4>
				<span>Gary Baird</span>
			</li>
			<li>
				<h4>Pool Committee</h4>
				<span>Michele Hindley & Allison Purnhagen</span>
			</li>
			<li>
				<h4>Webmaster</h4>
				<span>Bret Scarlavai</span>
			</li>
		</ul>
	</div>
</div>