<div class="panel panel-default">
	<div class="panel-body">
		<h3>Roudebush Farms POA Board Members</h3>
		<ul id="members">
			<li>
				<h4>President</h4>
				<span>Kelly Trent</span>
			</li>
			<li>
				<h4>Vice President</h4>
				<span>Greg Dempsey</span>
			</li>
			<li>
				<h4>Treasurer</h4>
				<span>Jeff Cook</span>
			</li>
			<li>
				<h4>Secretary</h4>
				<span>Jennifer Wittkamp</span>
			</li>
			<li>
				<h4>Architecture Committee Chair</h4>
				<span>Sarah Disser</span>
			</li>
			<li>
				<h4>Pool Committee</h4>
				<span>Christine McNelis</span>
			</li>
			<li>
				<h4>Member-at-Large</h4>
				<span>Tony Craig</span>
			</li>
			<li>
				<h4>Website Administrator</h4>
				<span>Bret Scarlavai</span>
			</li>
		</ul>
	</div>
</div>