<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Upcoming events</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="upcoming-event list-group-item">
                <div class="upcoming-event-date pull-left label label-primary">
                    <p class="upcoming-event-month">Aug</p>
                    <p class="upcoming-event-day">08</p>
                </div>
                <div class="upcoming-event-details">
                    <div>
                        <h4 class="upcoming-event-type list-group-item-heading">Board Meeting</h4>
                        <p class="upcoming-event-time"> 6:30<span class="upcoming-event-time-period">PM</span></p>
                    </div>
                    <div>
                        <p class="upcoming-event-location list-group-item-text">
                            <a href="https://goo.gl/maps/zVox4" target="_blank">Panera</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="upcoming-event list-group-item">
                <div class="upcoming-event-date pull-left label label-primary">
                    <p class="upcoming-event-month">Sep</p>
                    <p class="upcoming-event-day">19</p>
                </div>
                <div class="upcoming-event-details">
                    <div>
                        <h4 class="upcoming-event-type list-group-item-heading">Board Meeting</h4>
                        <p class="upcoming-event-time"> 6:30<span class="upcoming-event-time-period">PM</span></p>
                    </div>
                    <div>
                        <p class="upcoming-event-location list-group-item-text">
                            <a href="https://goo.gl/maps/Wqe0b" target="_blank">Noblesville Library</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="upcoming-event list-group-item">
                <div class="upcoming-event-date pull-left label label-primary">
                    <p class="upcoming-event-month">Oct</p>
                    <p class="upcoming-event-day">02</p>
                </div>
                <div class="upcoming-event-details">
                    <div>
                        <h4 class="upcoming-event-type list-group-item-heading">Annual Meeting</h4>
                        <p class="upcoming-event-time"> 2:00<span class="upcoming-event-time-period">PM</span></p>
                    </div>
                    <div>
                        <p class="upcoming-event-location list-group-item-text">
                            <a href="https://goo.gl/maps/Wqe0b" target="_blank">Noblesville Library</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#/meeting/schedule">View all events</a>
    </div>
</div>
<!--<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Popular documents</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-file" style="margin-right: 5px;" aria-hidden="true"></span><a href="documents/legal/Declaration of Covenants.pdf">Declaration of Covenants</a>
            </div>
        </div>
    </div>
</div>-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Recent documents</h4>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-file" style="margin-right: 5px;" aria-hidden="true"></span><a href="documents/minutes/2016/RF Board Meeting Minutes 2016.06.22.pdf" target="_blank">Board Meeting Minutes 2016.06.22</a>
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-file" style="margin-right: 5px;" aria-hidden="true"></span><a href="documents/minutes/2016/RF Board Meeting Minutes 2016.05.17.pdf" target="_blank">Board Meeting Minutes 2016.05.17</a>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Contact Information</h4>
    </div>
    <div class="panel-body">
        <h4>Mailing Address</h4>
        Roudebush Farms POA <br /> c/o Kirkpatrick Management <br /> 5702 Kirkpatrick Way <br /> Indianapolis, IN 46220-3925
        <br />
        <h4>Property Manager</h4>
        Leah Messmore <br />
        <h4>Phone/Fax</h4>
        <span class="phone">317 [dash] 558 [dash] 5348</span> <br />
        <h4>Email</h4>
        <span class="mail">board [at] roudebushfarms [dot] org</span>
        <h4>Site Issues</h4>
        <span class="mail">website [at] roudebushfarms [dot] org</span>
        <h4>Pool Cards</h4>
        <span class="mail">poolcard [at] roudebushfarms [dot] org</span>
        <h4>Pool Questions &amp; Comments</h4>
        <span class="mail">pool [at] roudebushfarms [dot] org</span>
    </div>
</div>
<script type="text/javascript">
  RoudebushFarms.translateEmail();
  RoudebushFarms.translatePhone();
</script>